/vendor/
/node_modules/

*.log
npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db

.env
.env.backup
.env.production

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5+ specific
public/storage
public/hot
public_html/storage
public_html/hot

storage/*.key
/storage/pail

Homestead.yaml
Homestead.json
/.vagrant

.phpunit.result.cache
.phpactor.json
auth.json
/auth.json

/public/build
/public/fonts-manifest.dev.json

/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

_ide_helper.php